name: Football Bot Daily

on:
  schedule:
    - cron: '0 8 * * *' # S'exécute chaque jour à 8h00 UTC
  workflow_dispatch: # Permet de le lancer manuellement

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Important pour permettre au bot de sauvegarder l'historique

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas numpy xgboost

      - name: Run bot
        env:
          API_KEY_FOOTBALL: ${{ secrets.API_KEY_FOOTBALL }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python bot.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add global_history.json suivi_paris.csv
          git commit -m "MAJ historique et suivi" || echo "Pas de changements à commit"
          git push
